* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(219, 238, 250);
}

body {
  background-color: rgb(219, 238, 250);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container {
  background-color: rgb(219, 238, 250);
  width: 800px;
  margin: 0 auto;
}

.column-full {
  justify-content: center;
  flex-basis: 100%;
}

.column-quarter {
  flex-basis: 25%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: "Frijole", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 15px 0;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 20px;
}

#hidden {
  display: none;
}

/* Game info */
.game-head {
  margin-top: 25px;
}

.game-info {
  justify-content: center;
  margin: 0 auto;
  flex-basis: 600px;
}

/* Game prompt */
.game-body {
  margin: 10px 0;
}

.game-prompt {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: start;
  font-size: 20px;
  padding: 10px 0;
}

.form {
  align-items: end;
  height: 60px;
  padding-bottom: 15px;
  margin: 5px 0;
}

.form > * {
  margin: 10px 0;
}

.letter-prompt {
  font-size: 26px;
}

#guess-field {
  background-color: rgb(215, 240, 255);
  position: relative;
  bottom: 5px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  width: 50px;
  height: 40px;
  padding-bottom: 0;
  border-width: 2px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

#guess-field:focus {
  outline: 0;
}

.guess-submit {
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  height: 37px;
  width: 145px;
  border-radius: 10px;
  border-width: 3px;
}

/* Discarded letters */
.discard-pile,
.attempts {
  font-size: 16px;
  flex-direction: column;
  height: 60px;
  width: 390px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px;
}

.discard-letter > h3 {
  margin-right: 12px;
}

/* Hangman illustration */
.illustration {
  justify-content: center;
}

.hangman-image {
  width: 100%;
  position: relative;
  background-image: url("images/hangman-full-image.png");
  background-size: 65px;
  background-repeat: no-repeat;
  background-position-x: 74px;
  background-position-y: 60px;
}

.body-part-1,
.body-part-2,
.body-part-3,
.body-part-4,
.body-part-5,
.body-part-6,
.body-part-7 {
  background-color: rgb(215, 240, 255);
  position: absolute;
  opacity: 1;
}

#body-part-1 {
  top: 59px;
  bottom: 163px;
  left: 70px;
  right: 60px;
}

#body-part-2 {
  top: 82px;
  bottom: 135px;
  left: 92px;
  right: 78px;
}

#body-part-3 {
  top: 82px;
  bottom: 110px;
  left: 72px;
  right: 108px;
}

#body-part-4 {
  top: 82px;
  bottom: 110px;
  left: 121px;
  right: 60px;
}

#body-part-5 {
  top: 110px;
  bottom: 111px;
  left: 91px;
  right: 78px;
}

#body-part-6 {
  top: 134px;
  bottom: 54px;
  left: 91px;
  right: 93px;
}

#body-part-7 {
  top: 134px;
  bottom: 54px;
  left: 106px;
  right: 77px;
}

.gallows {
  flex-direction: column;
  box-sizing: border-box;
  font-size: 25px;
  justify-content: center;
  align-items: end;
  margin-top: 10px;
  margin-left: 0;
}

.gallows > *,
.gallows > div > p {
  height: 21px;
}

p#head {
  letter-spacing: -2.7px;
}

.gallows-top {
  padding-top: 1px;
  padding-right: 2px;
}

.gallows-base {
  padding-top: 2px;
  width: 180px;
}

.last-words {
  font-style: italic;
  position: absolute;
  display: block;
  width: 260px;
  font-size: 16px;
  bottom: -25px;
  right: -65px;
  opacity: 0;
}

/* Mystery Word */
.mystery-word {
  position: relative;
  width: 100%;
  height: 85px;
  margin: 15px 0;
}

.mystery-word-reveal-canvas,
.mystery-word-blank-canvas {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mystery-word-reveal,
.mystery-word-blank {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
}

.mystery-word-reveal {
  border-style: solid;
  border-width: 2px;
}

.mystery-letter-reveal,
.mystery-letter-blank {
  justify-content: center;
  text-align: center;
  width: 50px;
  margin: 0;
}

.mystery-letter-reveal {
  opacity: 0;
}

.mystery-letter-blank {
  background-color: rgb(215, 240, 255);
  text-decoration-line: underline;
}
